h1{
    text-align: center;
    background-color: white;
}
body{
    background-color:#F2F1EB ;
}
#para-1{
    background-color: #39A7FF;
}
#para-2{
    background-color: #1079cea7;
}
#para-3{
    background-color: #1079cea7;
}
#para-4{
    background-color: #1079cea7;
}
#para-5{
    background-color: #1079cea7;
}
#para-5{
    background-color: #1079cea7;
}
#para-6{
    background-color: #1079cea7;
}
#para-7{
    background-color: #1079cea7;
}
#para-8{
    background-color:#508D69;
}
#para-9{
    background-color: #FF90BC;
}
#para-10{
    background-color: #FF90BC;
}
#para-11{
    background-color: #FF90BC;
}
#para-12{
    background-color: #FF90BC;
}
#para-13{
    background-color: #FF90BC;
}
#para-14{
    background-color: #FF90BC;
}
#para-15{
    background-color: #FF90BC;
}
